// Globals
$body-font-family: "IBM Plex Sans Thai", sans-serif;
$border-radius-root: 4px;
$font-size-root: 16px;
$btn-icon-size: 20px;

// Custom variables
$primary: #417ce9;
////Text
$info: #3fa9ff;
$success: #06d79c;
$accent: #ef5350;
$error: #e40028;
$warning: #fba400;
$default: #563dea;
$received: #bc64ff;
//// BG
$info-bg: #daecff;
$success-bg: #eefcef;
$error-bg: #ffeaeb;
$warning-bg: #faefd8;
$received-bg: #f1e1fd;
