// Globals
@import 'vuetify/src/styles/settings/_variables';
$body-font-family: "IBM Plex Sans Thai", sans-serif;
$border-radius-root: 4px;
$font-size-root: 16px;
$btn-icon-size: 20px;

// Custom variables
$primary: #417CE9;
////Text
$info: #3FA9FF;
$success: #06d79c;
$accent: #ef5350;
$error: #E40028;
$warning: #FBA400;
$default: #563dea;
$received: #BC64FF;
//// BG
$info-bg: #DAECFF;
$success-bg: #EEFCEF;
$error-bg: #FFEAEB;
$warning-bg: #FAEFD8;
$received-bg: #F1E1FD;