.app-bar {
  height: auto !important;
  z-index: 999 !important;

  :deep(.v-toolbar__extension) {
    padding: 0 !important;
    height: 36px !important;
  }

  :deep(.v-breadcrumbs__item--disabled) {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.main-content {
  background-color: #f0f2f5;
  padding-top: 86px !important;
}

.system-title {
  color: #000;
  font-weight: bold;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.slide-right-enter {
  opacity: 0;
  top: 0;
  transform: translateX(100%);
}

.slide-right-leave-to {
  opacity: 0;
  top: 0;
  transform: translateX(-100%);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.slide-left-enter {
  opacity: 0;
  top: 0;
  transform: translateX(-100%);
}

.slide-left-leave-to {
  display: none;
  opacity: 0;
  top: 0;
  transform: translateX(100%);
}
